@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 13%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 13%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 13%;

    --primary: 188 42% 56%;
    --primary-dark: 188 42% 66%;
    --primary-light: 188 42% 46%;
    --primary-foreground: 0 0% 13%;

    --secondary: 54 93% 54%;
    --secondary-dark: 54 93% 64%;
    --secondary-light: 54 93% 44%;
    --secondary-foreground: 0 0% 13%;

    --muted: 0 0% 80%;
    --muted-foreground: 0 0% 60%;

    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 188 42% 56%;

    --radius: 0.5rem;

    --layer-one: 0 0% 95%;
    --layer-two: 0 0% 90%;
    --layer-three: 0 0% 85%;
    --layer-four: 0 0% 80%;
  }

  .dark {
    --background: 0 0% 13%;
    --foreground: 0 0% 100%;

    --card: 0 0% 13%;
    --card-foreground: 0 0% 100%;

    --popover: 0 0% 13%;
    --popover-foreground: 0 0% 100%;

    --muted: 0 0% 23%;
    --muted-foreground: 0 0% 43%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 28%;
    --input: 0 0% 28%;
    --ring: 188 42% 56%;

    --layer-one: 0 0% 18%;
    --layer-two: 0 0% 23%;
    --layer-three: 0 0% 28%;
    --layer-four: 0 0% 33%;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

h1 {
  @apply text-4xl font-bold;
}
h2 {
  @apply text-3xl font-bold;
}
h3 {
  @apply text-2xl font-bold;
}
h4 {
  @apply text-xl font-bold;
}
img {
  width: 100%;
}
